{% extends "base.html" %}
{% load module %}

{% block title %}
{{ module.title }}
{% endblock %}

{% block content %}
  {% with module=topic.module %}
    <h1>Module "{{ module.title }}"</h1>
    <div class="contents">
      <h3>Topics</h3>
      <ul id="topics">
        {% for t in module.topics.all %}
          <li data-id="{{ t.id }}" {% if t == topic %}
           class="selected"{% endif %}>
            <a href="{% url 'topic_resource_list' t.id %}">
              <br>
              {{ t.title }}
            </a>
          </li>
        {% empty %}
          <li>No topics yet.</li>
        {% endfor %}
      </ul>
      <p><a href="{% url 'module_topic_update' module.id %}">Edit topics</a></p>
    </div>
    <div class="topic">
      <h2>{{ topic.title }}</h2>
      <h3>Topic contents:</h3>

      <div id="topic-resources">
        {% for resource in topic.resources.all %}
          <div data-id="{{ resource.id }}">
            {% with item=resource.item %}
              <p>{{ item }} ({{ item|model_name }})</p>
              <a href="{% url 'topic_resource_update' topic.id item|model_name item.id %}">Edit</a>
              <form action="{% url 'topic_resource_delete' resource.id %}" method="post">
                <input type="submit" class="btn btn-danger" value="Delete">
                {% csrf_token %}
              </form>
            {% endwith %}
          </div>
        {% empty %}
          <p>This topic has no resources yet.</p>
        {% endfor %}
      </div>
      <h3>Add new content:</h3>
      <ul class="content-types">
        <li class="btn btn-outline-secondary"><a href="{% url 'topic_resource_create' topic.id 'video' %}">
        🎞️ Video (URL)</a></li>
        <li class="btn btn-outline-secondary"><a href="{% url 'topic_resource_create' topic.id 'file' %}">
        📂 File</a></li>
      </ul>
    </div>
  {% endwith %}
{% endblock %}
