{% extends "base.html" %}
{% load module %}

{% block title %}
{{ topic.title }}
{% endblock %}

{% block content %}


    <div class="topic">
      <h2>{{ topic.title }}</h2>
      <h3>Topic contents:</h3>
      {{ topic.description|safe }}
      <br>
      <h3 class="m-3">Resources:</h3>
      <div id="topic-resources">
        {% for resource in topic.resources.all %}
          <div data-id="{{ resource.id }}">
            {% with item=resource.item %}
              <p>{{ item }} ({{ item|model_name }})</p>
              <a href="{% url 'topic_resource_update' topic.id item|model_name item.id %}">Edit</a>
              <form action="{% url 'topic_resource_delete' resource.id %}" method="post">
                <input type="submit" class="btn btn-danger" value="Delete">
                {% csrf_token %}
              </form>
            {% endwith %}
          </div>
        {% empty %}
          <p>This topic has no resources yet.</p>
        {% endfor %}
      </div>
      <h3>Add new content:</h3>
      <ul>
        <a href="{% url 'topic_resource_create' topic.id 'video' %}">
          <li class="btn btn-outline-secondary">🎞️ Video (URL)</li></a>

        <a href="{% url 'topic_resource_create' topic.id 'file' %}">
          <li class="btn btn-outline-secondary">📂 File</li></a>
      </ul>
    </div>
{% endblock %}
